.photography-container-grid {
    display: flex;
    justify-content: center;
}


.ph {
    padding: 15px;
}

.photography-container-grid img {
    box-shadow: 1px 1px 13px 1px rgba(107,107,107,0.79);
    -webkit-box-shadow: 1px 1px 13px 1px rgba(107,107,107,0.79);
    -moz-box-shadow: 1px 1px 13px 1px rgba(107,107,107,0.79);
}

.vertical {
    width: 100%;
    display: flex;
}

.vertical img{
    height: auto;
    width: 100%;
    max-width: 100%;
}

.horizontal img {
    display: flex;
    /* max-width: 1150px;
    max-height: 766px;   */
    /* width: auto;
    height: auto; */
    max-width: 100%;
    height: auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
}

h3 {
    font-weight: 300;
    font-size: 2rem;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.cta {
    text-decoration: none;
    color: #2a6f97;
}

.col-half {
    padding: 15px;
    max-width: 50%;
    width: 50%;
}


@media only screen and (max-width: 860px) {
    .vertical {
        width: 100%;
        display: block;
    }
    
    .col-half {
        padding: 15px;
        max-width: none;
        width: auto;
    }
}